.aboutus {
    background-color: rgb(255, 255, 255);
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 100px;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.1);
}

.aboutus h1 {
    color: #333;
    font-size: 2.5rem;
}

.team-member {
    display: flex;
    margin-bottom: 0px;
    margin-left: 50px;
    padding: 1rem;
    border-top: 1px solid #eaeaea;
}

.member-details {
    display: flex;
  flex-direction:column;  /* Align items vertically in the flex container */
  }

  .member-details h2{
    color: #333;
    margin-left: -30px;
  }

  .member-image {
    border-radius: 100%;
    width: 150px; /* Set the width of the member image */
    height: 200px; /* Set the height of the member image */
    margin-right: 20px;
    margin-top: 50px;
  }

.member-info{
    display: flex;
  flex-direction:row;
}

.member-description{
    margin-left: 100px;
}

.member-title{
    margin-top: 20px;
    margin-left: 100px;
}

.team-member h3 {
    color: #d14f4f;
    font-size: 1.25rem;
}

.team-member p {
    color: #666;
    font-size: 1rem;
    /* line-height: 1.5; */
    /* text-align: left; */
}

/* For larger screens */
@media (min-width: 768px) {
    .team-member {
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .team-member img {
        margin-right: 2rem;
        flex-shrink: 0; /* Prevents image from shrinking */
    }

    .team-member p {
        text-align: justify;
    }
}



