.cart-table {
    width: 80%;
    border-collapse: collapse;
    max-width:900px;
    margin: 0 auto; /* Center the table horizontally with auto margins */
  }
  

  .cart-table th, .cart-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .cart-table th {
    background-color: #726e6f;
    color: white;
  }
  
  .cart-table tr:hover {
    background-color: #f5f5f5;
  }

  .empty-cart {
    width: 100%;
    border-collapse: collapse;
  }

  .empty-cart-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Optional: Center items horizontally */
    justify-content: center; /* Optional: Center items vertically */
  }
  
  
  .cart{
    background-color: rgb(255, 255, 255);
    max-width:900px;
    margin: 0 auto;
  }