.footer{
    color: rgb(255, 255, 255);
    position:relative;
    bottom:auto;
    height:auto;
    min-height: 5px;
    width: 100%;
    font-family: "Copperplate", fantasy;
    clip: rect(40px,2000px,260px,0px);
    background-color: #0c1b33;;
}
