/* Home.css */

.home-container {
    background-color: rgb(255, 255, 255);
    max-width: 900px;
    margin: 0 auto;
    padding: 100px;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.1);
  }
  
  section {
    margin-bottom: 20px;
  }
  
  .company-name {
    background-color:#0c1b33;
    padding: 10px;
    -webkit-text-fill-color: #d1f7ff;
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color:#ff2a6d;
   font-size:25px;
  }
  
  .mission-vision, .business-strategy, .customer-message {
    border: 1px solid #ddd;
    padding: 15px;
  }
  
  h2 {
    color:black;
  }
  
  /* Add more styling as needed */
  