/* PaymentEntry.css */
.container {
  width: 100%;
    max-width:900px;
    margin: 0 auto;
    padding: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: adds a slight shadow to make the form pop a bit */
    border-radius: 8px; /* Optional: rounds the corners */
    background: #fff; /* Change as necessary */
  }
  
  .container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    width: 100%;
    max-width:500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* Space between form groups */
    text-align: left;
  }
  
  .form-group label {
    font-size:20px ;
    margin-bottom: 0px; /* Space between label and input */
  }
  
  .input-select {
    text-align: right;
    margin-top: -30px;
  }
  .form-group input[type="text"],
  .form-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .button-style {
    text-align: center;
  }

  .button-style button{
    background: #000000;
    color: #ffffff;
    border: 0;
    font-family: "Copperplate", fantasy;
    font-size:20px ;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    border: #262021;
  }
  
  .button-style button:hover {
    background-color: #808080;
  }
  
  /* Style the select elements to appear on the same line */
  .expiration-date {
    display: flex;
    justify-content: space-between;
  }
  
  .expiration-date select {
    width: 48%; /* Use up approximately half the space minus the gap */
  }
  