/* PaymentEntry.css */
.container {
    width: 100%;
    max-width: 400px; /* Set the max width for the form */
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: adds a slight shadow to make the form pop a bit */
    border-radius: 8px; /* Optional: rounds the corners */
    background: #fff; /* Change as necessary */
  }
  
  .container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px; /* Space between form groups */
  }
  
  .form-group label {
    margin-bottom: 5px; /* Space between label and input */
  }
  
  .form-group input[type="text"],
  .form-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* .button {
    width: 33%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background: #000000;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #d9d1ff;
  } */
  
  .form-container {
    display: flex;
    flex-direction: column;
    max-width: 300px; /* adjust as necessary */
    margin: auto;
  }
  
  .form-container label,
  .form-container input,
  .form-container select,
  .form-container button {
    margin-bottom: 10px; /* Space out the elements */
  }
  
  /* Style the select elements to appear on the same line */
  .expiration-date {
    display: flex;
    justify-content: space-between;
  }
  
  .expiration-date select {
    width: 48%; /* Use up approximately half the space minus the gap */
  }
  