.purchase{
  background-color: rgb(255, 255, 255);
    width: 100%;
    max-width:900px;
    margin: 0 auto;
    padding: 100px;
    box-shadow: 0 0 2000px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.payment {
    max-width: 40px;
    margin: 0 auto;
    text-align: center;
  }
  .label_class{
    width: 80px;
    display: block; 
  }
  .input{
    width: 50px;
    display: block;
  }
  .label {
    width: 120px;
    position: fixed;
    left: 10px;
    text-align: center;
    margin: 10px 0;
    display: block;
  }
  .h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 30px;
  }
  .input, .create textarea, .create select {
    width: 100%;
    padding: 5px 10px;
    position: 'absolute';
    left: 50px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
  }
  .button {
    background: #000000;
    color: #ffffff;
    border: 0;
    font-family: "Copperplate", fantasy;
    font-size:20px ;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    border: #262021;
  }

  .button:hover {
    background-color: #808080;
  }
  
  .purchase-form {
    display: flex;
    flex-direction: column;
}

.item-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 100px;
    border: 1px solid #eee;
    border-radius: 4px;
    height: fit-content
}

.item-name {
    font-weight: bold;
    font-size: 20px;
}

.item-price {
    color: #000000;
}

.item-quantity {
    width: 100px;
    text-align: center;
}
